{% extends "base.html" %}

{% block title %}godocs - Documents{% endblock %}

{% block content %}
<h1 class="title">Documents</h1>
<p class="subtitle">{{ total_count }} document{{ total_count|pluralize }} in the system</p>

{% if documents %}
<div class="columns is-multiline">
    {% for doc in documents %}
    {% include "partials/document_card.html" %}
    {% endfor %}
</div>

{% include "partials/pagination.html" %}
{% else %}
<div class="notification is-info is-light">
    <p>No documents found. Add documents to the ingress folder to get started.</p>
</div>
{% endif %}
{% endblock %}
